header h1 {
    text-align: center
}

.greenBlock {
    background-color: green;
    color: white;
}

.whiteBlock ol li:last-child {
    text-decoration: line-through;
}

ul li:first-child, ol li:first-child {
    color: cyan;
}